input.txt
Advent 2021/AdventOfCode.iml
Advent 2021/.idea
Advent 2021/out
Advent 2021/Problems/.idea
Advent 2021/Problems/out
Advent 2021/Problems/Problems.iml
Advent 2023/__pycache__/util.cpython-311.pyc
